body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.swiper-container {
  position: relative;
  overflow: hidden;
  width: calc(100vw - 40px); /* 20px margin on both sides */
  max-width: 700px;
  height: calc(100vw - 40px); /* Same as width */
  max-height: 700px;
  background-color: white;
}

.swiper-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: -1;
}

.swiper-slide:first-child {
  z-index: 0;
}


.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  user-select: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}


