body {
  margin:0px;
  background-color:rgba(224, 223, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:630px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:378px;
  background:inherit;
  background-color:rgba(60, 43, 132, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(9, 11, 55, 1);
  border-radius:24px;
  -moz-box-shadow:8px 8px 0px rgba(9, 11, 55, 1);
  -webkit-box-shadow:8px 8px 0px rgba(9, 11, 55, 1);
  box-shadow:8px 8px 0px rgba(9, 11, 55, 1);
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:108px;
  width:322px;
  height:378px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"SpoqaHanSansNeo-Bold", "Spoqa Han Sans Neo Bold", "Spoqa Han Sans Neo", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#A59FFE;
  line-height:70px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:123px;
  width:248px;
  height:70px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Bold", "Spoqa Han Sans Neo Bold", "Spoqa Han Sans Neo", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#A59FFE;
  line-height:70px;
}
#u266 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u266_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:428px;
  background:inherit;
  background-color:rgba(67, 91, 65, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(9, 11, 55, 1);
  border-radius:24px;
  -moz-box-shadow:8px 8px 0px rgba(9, 11, 55, 1);
  -webkit-box-shadow:8px 8px 0px rgba(9, 11, 55, 1);
  box-shadow:8px 8px 0px rgba(9, 11, 55, 1);
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:108px;
  width:322px;
  height:428px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:361px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:373px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:366px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"SpoqaHanSansNeo-Bold", "Spoqa Han Sans Neo Bold", "Spoqa Han Sans Neo", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#8CB688;
  line-height:70px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:639px;
  top:123px;
  width:232px;
  height:70px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Bold", "Spoqa Han Sans Neo Bold", "Spoqa Han Sans Neo", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#8CB688;
  line-height:70px;
}
#u272 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u272_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:261px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:273px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:266px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:411px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:423px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:416px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:211px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u282 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:223px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u283 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:216px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u286_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:261px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u286 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u286_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:273px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u287 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:266px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u290_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:211px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u290 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:223px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u291 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:216px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u292 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u292_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u294_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:311px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u294 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:323px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u295 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:316px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u298_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:361px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u298 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u298_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:373px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u299 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u299_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:366px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u302_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u302 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:411px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u302 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u303 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:423px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u303 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u304 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:416px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u306_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u306 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:311px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u306 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u307 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:323px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u307 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u308 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:316px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u310_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.10196078431372549);
  border:none;
  border-radius:200px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u310 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:461px;
  width:303px;
  height:40px;
  display:flex;
  color:#FFFFFF;
  text-align:left;
}
#u310 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 50px;
  box-sizing:border-box;
  width:100%;
}
#u310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:17px;
}
#u311 {
  border-width:0px;
  position:absolute;
  left:897px;
  top:473px;
  width:20px;
  height:17px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u311 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u312 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:466px;
  width:31px;
  height:31px;
  display:flex;
  font-family:"SpoqaHanSansNeo-Regular", "Spoqa Han Sans Neo", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
